{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <br>
    {% for listing in listings%}
        {%if listing.isOpen%}
            <div class = "listing"> 
                {%if listing.image%}
                    <img src= "{{ listing.image.url }}" class = "scrollView">
                {% endif %}
                <div class = "inside">
                    <h4>
                        <a id = "leftTitle" href = "{% url 'page' listing.title listing.id %}">{{listing.title}}</a>
                        {%if listing.bids.all %}
                            <span class = "rightPrice">Current Bid: ${{listing.currentBid}}</span>
                        {%else%}
                            <span class = "rightPrice">Starting Bid: ${{listing.startingBid}}</span>
                        {%endif%}
                    </h4>
                    <br>
                    {% if listing.isOpen %}
                        <div class = "open">Open</div>
                    {%else%}
                        <div class = "closed">Closed</div>
                    {%endif%}
                    <div class = "info">
                        Category: {{listing.category.category}}
                        <br>
                        Posted by : {{listing.user}}
                    </div>
                    {{listing.description}}
                </div>
            </div>
            <br>
        {%endif%}
    {% endfor %}

{% endblock %}
